.cowin-coverage {
  background-color: #1c1c2b;
  margin: 10px;
  padding: 10px;
}
.gender-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0px;
}
